.margin-top {
  margin-top: 50px;
}

.margin-top-description {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.container-fluid {
  background-color: #F6F8FA; 
}

/*Navbar*/

.navbar {
  background-color: transparent; 
  border: 0px; 
  height: 70px; 
}

#brand {
  display: inline-block;
  margin-left: 85px;
  width: 40px;
}

.navbar-collapse {
  background-color: #F6F8FA;
  padding-top: 5px;
  margin: 0px;
  border: none;
}

.navbar-right {
  padding-top: 5px;
}

#nav-link {
  background-color: transparent;
  color: #4F4AD5;
}

#nav-link:hover {
  background-color: transparent;
  color: #1E1F4B;
}

.links-wrapper {
  padding: 25px 150px;
}

/*Beginning of non-hero CSS*/

.home-center-aligned-description {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-bottom: 25px;
  opacity: .85;
  text-align: center;
}

.home-center-aligned-title {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 15px;
}

ul {
  list-style-image: url('../imgs/bullet.svg');
  padding: 0px;
}

p {
  color: #6B7C93;
}

.center-aligned-description{
  color: #6B7C93;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 30px;
  text-align: left;
}

.center-aligned-supplemental-info{
  color: #97a3b3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-align: left;
}

/*About CSS*/
.about {
  background-image: linear-gradient(#5252ff, #4f4ad5);
  padding-bottom: 10rem;
}

.about-link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: center;
}

.about-link:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/*Work CSS*/

.work-upper {
  margin-top: -125px;
}

.work-upper, .work {
  padding: 24px 32px 0px 32px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.card:hover {
  text-decoration: none;  
}

.card-shadow {
  margin-top: 30px;
  box-shadow: 0 2px 4px rgba(3,27,78,.06)
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 30px 30px;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(5px - 1px);
  border-top-right-radius: calc(5px - 1px);
}

.card-title {
  color: #251864;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.75rem;
}

.card-body > .card-title {
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
}

.card-type{
  color: #97a3b3;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
  text-align: center;
}

.work-bottom {
  margin-bottom: 60px;
}

.work-title {
  color: #251864;
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.work-description {
  color: #5E5E5E;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 60px 300px 40px;
  text-align: center;
}

.center-divider-work {
  border: 1px solid #D2D8E1;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 85px;
}

.work-type-section {
  text-align: center;
}

/*Footer*/

.footer {
  background-color: #F6F8FA;
  padding: 30px;
}

/*images*/

.work-graphic{
  padding: 0px 100px 0px 100px;
}

.work-graphic-item{
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(3,27,78,.06);
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%; 
}

.work-graphic-item-shrink{
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(3,27,78,.06);
  display: block;
  height: auto;
  margin: auto;
  max-width: 35%; 
}

/* Applies to more than one section*/

.text-description {
  padding: 80px 210px 0 210px;
}

.hyperlink {
  color: #4F4AD5;
}

.hyperlink:hover {
  color: #4F4AD5;
  text-decoration: none;
}

.work-graphic-caption {
  color: #97a3b3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
  padding: 30px 30px;
  text-align: center;
}

.in-text-highlight {
  color: #251864;
  font-weight: 700;
}

/*Beginnning Media Queries*/

@media (max-width: 988px) {
  #brand {
    margin-left: 10px;
  }
  .work-description {
    padding: 60px 50px 40px;
  }
  .work-title {
    text-align: left;
  }
  .text-description {
    padding: 60px 50px 0 50px;
  }
  .carousel-pic {
  display: block;
  margin: auto;
  width: 75%;
  }
  .work-graphic-item{
  margin-top: 25px;
  padding: 0px 0px;
  max-width: 100%;
  }
  .work-graphic-item-shrink{
  margin-top: 25px;
  padding: 0px 0px;
  max-width: 100%;
}
  .work-graphic{
  padding: 0px;
  }
  .links-wrapper {
  padding: 0px;
}
}