body {
  background-color: #FDF6EE !important;
}

.body-container {
  margin-top: 80px;
}

.margin-top {
  margin-top: 30px;
}

.margin-top-sm {
  margin-top: 15px;
}

.navbar {
  border-radius: 0 !important;
  border: none;
  padding: 0 5%;
}

.navbar-brand-custom {
  color: #FE8864 !important;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 7px;
  padding-right: 7.5px;
}

#brand-MyPortfolio {
  color: #FDF6EE;
}

.navbar-link > a {
  color: #FDF6EE !important;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 7px;
}

.navbar-link.active {
  background-color: #FE8864 !important;
}

.navbar-link.active > a {
  background-color: #FE8864 !important;
  color: #FFFFFF !important; /*TODO: change active link color here*/
}

.navbar-link > a:active {
  color: #FFFFFF !important;
}

.navbar-active > a {
  font-weight: 500 !important;
}

.navbar-brand-sub {
  color: #FDF6EE;
  display: inline-block;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 19px;
}

.navbar-toggle {
  background-color: #003362;
  border: none !important;
  margin-top: 15px;
}

.return-link {
  color: #FE8864;
  font-size: 16px;
  margin-left: 17px;
}

.return-link:hover {
  color: #12609F;
  text-decoration: none;
}

.work-graphic {
  display:block;
  height:100%;
  margin:auto;
  margin-bottom: 30px;
  width:350px;
}

#about-me,
#web-app,
#other-work,
#resume {
  padding-top: 70px;
}

.about-text {
  color: #4A4A4A;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-size:20px;
  margin:auto;
  padding: 30px;
}

.section-title {
  color:#004475;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-size:30px;
  font-weight:bolder;
  text-align:center
}

.section-subtitle {
  color: #4A4A4A;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-size:20px;
  text-align:center
}

.section-underline {
  background-color:#FE8864;
  border: #FE8864;
  border-radius: 100px;
  height:4px;
  margin-bottom: 15px;
  width:7%;
}

.about-graphic {
  display:block;
  margin:auto;
  padding-top: 40px;
  width:350px;
}

.hyperlink {
  color: #FE8864;
}

.hyperlink:hover {
  color: #12609F;
  text-decoration: none;
}

.carousel-pic {
  display: block;
  margin: auto;
  width: 75%;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
  border-radius: 10px;
  height: 20px;
  margin: 0 5px;
  width: 20px;

}

.carousel-indicators .active {
  background-color: #FE8864;
  border-radius: 10px;
  height: 20px;
  margin: 0 5px;
  width: 20px;
}

.index-text {
  display: block;
  padding: 0 10px;
}

.index-block {
  padding: 0 10px;
}

/*Hero Button with bounce effect*/
.connect-btn {
  background-color: #FE8864;
  border: solid #FE8864;
  border-radius: 25px;
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  letter-spacing: 1.2px;
  margin:auto;
  padding: 10px 45px;
}

/*To remove button text underline when hovering*/
.connect-btn-link {
  text-decoration: none;
}

.connect-btn-link:hover {
  text-decoration: none;
}

.connect-btn:hover {
  background-color: #12609F;
  border: solid #12609F;
  border-radius: 25px;
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  letter-spacing: 1.2px;
  margin:auto;
  padding: 10px 45px;
}

.connect-btn:focus {
  outline-style: none;
}

/*For homepage hero header*/
#index-title {
  color:#004475;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-size:70px;
  font-weight:bolder;
  margin:auto;
  text-align:center;
}
#index-subtitle {
  color:#4A4A4A;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-size:30px;
  margin-bottom: 30px;
  text-align:center;
}

/*For resume page*/
#resume-head {
  color: #003362;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  text-align:center;
}

/*hr line styling*/
.section-divider{
  background-color:#FE8864;
  border: #FE8864;
  border-radius: 100px;
  height:4px;
  width:100%;
}

.resume-section-title{
  color: #003362;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-weight:bold;
  margin-bottom: 15px;
  text-align:left;
}

.resume-item-title {
  color: #FE8864;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-weight:bold;
  margin-bottom: 2px;
  margin-top: 25px;
  padding: 0px;
  text-align:left;
}

.resume-item-date {
  color: #4A4A4A;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  margin-bottom: 2px;
  margin-top: 25px;
  text-align:right;
}

.resume-item-loc {
  color: #4A4A4A;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  margin-bottom: 15px;
  padding: 0px;
  text-align:left;
}

.resume-item-description {
  color: #4A4A4A;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  line-height: 25px;
  margin-bottom: 10px;
  padding: 0px;
  text-align:left;
}

.software-skills-languages {
  border: solid #FE8864 5px;
  border-radius: 15px;
  margin: 45px 0px 45px 0px;
  padding: 0px 35px 45px 35px;
}

.software-skills-languages-title {
  color: #003362;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 45px;
  text-align:center;
}

.software-skills-languages-desc {
  color: #4A4A4A;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  line-height: 15px;
  margin-bottom: 2px;
  padding: 0px;
  text-align:center;
}

.mini-section-divider {
  background-color:#FE8864;
  border: #FE8864;
  border-radius: 100px;
  height:4px;
  margin-top: 0.5px;
  width:25%;
}

/*Footer styling*/
.footer-section {
  background-color: #FAEAD7;
  width: 100%;
  padding: 15px;
  margin-top: 45px;
}

.footer-title {
  color: #003362;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align:center;
}

.footer-text {
  color: #4A4A4A;
  display:block;
  font-family:"Open Sans", Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align:center;
}

 @media (max-width:965px) {
   .resume-item-date {
     display: flex;
     margin-top: 7px;
     padding: 0px;
   }
 }

 @media (max-width:375px) {
   .about-graphic {
     padding-top: 0px;
   }
   #resume-graphic {
     margin-top: 30px;
   }
 }
