.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.container-fluid {
  background-color: #F6F8FA; 
}

/*Navbar*/

.navbar {
  background-color: #F6F8FA; 
  border: 0px; 
  height: 70px; 
  padding-right: 85px;
}

#brand {
  display: inline-block;
  margin-left: 85px;
  width: 40px;
}

.navbar-collapse {
  background-color: #F6F8FA;
  padding-top: 5px;
  margin: 0px;
  border: none;
}

.navbar-right {
  padding-top: 5px;
}

#nav-link {
  background-color: transparent;
  color: #4F4AD5;
}

#nav-link:hover {
  background-color: transparent;
  color: #1E1F4B;
}

/*Beginning of non-hero CSS*/

.left-aligned-description {
  color: #6B7C93;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: left;
}

.left-aligned-title {
  color: #251864;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
}

ul {
  list-style-image: url('../imgs/bullet.svg');
  padding: 0px;
}

p {
  color: #6B7C93;
}

.center-aligned-description{
  color: #6B7C93;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: left;
}

/*About CSS*/
.about {
  background-color: #F6F8FA;
  padding: 10px 0px 10px 0px;
}

.about-link {
  text-decoration: none;
  color: #4F4AD5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 30px;
}

.about-link:hover {
  color: #1E1F4B;
  text-decoration: none;
}

/*Work CSS*/

.work {
  background-color: #F6F8FA;
  justify-content: space-between;
  padding: 24px 32px 0px 32px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.card:hover {
  text-decoration: none;  
}

.card-shadow {
  margin-top: 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 30px 30px;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(5px - 1px);
  border-top-right-radius: calc(5px - 1px);
}

.card-title {
  color: #251864;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.75rem;
}

.card-body > .card-title {
  font-size: 16px;
  margin-bottom: 0;
  text-align: left;
}

.card-type{
  color: #97a3b3;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.work-bottom {
  margin-bottom: 60px;
}

.work-title {
  color: #251864;
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.work-description {
  color: #5E5E5E;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 60px 300px;
  text-align: center;
}

.center-divider-work {
  border: 1px solid #D2D8E1;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 85px;
}

.work-type-section {
  text-align: center;
}

/*testimonial CSS*/

.testimonial {
  background-color: #F6F8FA;
  padding: 40px 0px;
}

.quote {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  margin-bottom: 0px;
  padding: 45px 300px;
  text-align: center;
}

#quote-mark {
  width: 60px;
  margin-bottom: 32px;
}

.quote-title {
  color: #251864;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.quote-text {
  color: #6B7C93;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: center;
}

/*Footer*/

.footer {
  background-color: #F6F8FA;
  padding: 30px;
}

/*Carousel CSS*/

.carousel-pic {
  display: block;
  margin: auto;
  width: 75%;
}

.carousel-indicators li {
  background-color: #E3E7ED;
  border-radius: 10px;
  height: 20px;
  margin: 0 5px;
  width: 20px;

}

.carousel-indicators .active {
  background-color: #4F4AD5;
  border-radius: 10px;
  height: 20px;
  margin: 0 5px;
  width: 20px;
}

/*images*/

.about-graphic {
  display: block;
  margin: auto;
  width: 100%;
}

/* Applies to more than one section*/

.text-description {
  padding: 80px 110px;
}

.hyperlink {
  color: #4F4AD5;
}

.hyperlink:hover {
  color: #1E1F4B;
  text-decoration: none;
}

/*Beginnning Media Queries*/

@media (max-width: 988px) {
  #brand {
    margin-left: 35px;
  }
  .about-graphic {
    padding: 0px;
  }
  .quote {
    padding: 50px 50px;
  }
  .work-description {
    padding: 60px 50px;
  }
  .work-title {
    text-align: left;
  }
  .text-description {
    padding: 60px 50px;
  }
}