.container {
  padding: 0px;
}

.margin-top {
  margin-top: 40px;
}

/*Navbar*/

.navbar {
  background: #251864; 
  border: 0px; 
  height: 70px; 
  padding-right: 85px;
}

#brand {
  display: inline-block;
  margin-left: 85px;
  width: 40px;
}

.navbar-collapse {
  background-color: #251864;
  padding-top: 5px;
  margin: 0px;
  border: none;
}

.navbar-right {
  padding-top: 5px;
}

.navbar-toggle {
  margin: 0px;
  padding: 25px;
  border: none;
}

#nav-link {
  background-color: transparent;
  color: #ffffff;
}

#nav-link-select {
  background-color: transparent;
  color: #47CE90;
}

.icon-bar {
  margin-top: 5px;
}

/*Hero CSS*/

.hero {
  background-color: #F9F9F9;
  /*background-image: url(imgs/hero_background2.svg) !important;*/
  background-repeat: no-repeat;
  padding: 80px 50px 80px;
}

.hero-non-homepage {
  background: linear-gradient(to right, #3023AE , #946DD7);
  /*background-image: url(imgs/hero_background2.svg) !important;*/
  background-repeat: no-repeat;
  padding: 80px 50px 80px;
}

#hero-description {
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 18px;
  text-align: left;
  margin-bottom: 35px;
  margin-left: 5px;
}

#hero-title {
  color: #FFFFFF;
  font-family: 'Bree Serif', serif;
  font-size: 75px;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 0px;
}

/*Beginning of non-hero CSS*/

.left-aligned-description {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
}

.left-aligned-divider {
  border: 1px solid #D2D8E1;
  border-radius: 5px;
  margin-left: 0px;
  width: 85px;
}

.left-aligned-title {
  color: #251864;
  font-family: 'Bree Serif', serif;
  text-align: left;
  margin-bottom: 25px;
}

.left-aligned-list-title {
  color: #251864;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  text-align: left;
}

.left-aligned-list {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 16px;
  text-align: left;
}

.center-divider {
  border: 1px solid #D2D8E1;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 85px;
}

.connect-btn {
  background-color: #47CE90;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #141A5F;
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 5px;
  padding: 15px 40px;
  text-decoration: none;
}

.connect-btn:hover {
  box-shadow: 0px 8px 25px #141A5F;
  color: #FFF;
  text-decoration: none;
}

.connect-btn-2 {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #141A5F;
  color: #251864;
  font-size: 18px;
  margin-left: 5px;
  padding: 15px 40px;
  text-decoration: none;
}

.connect-btn-2:hover {
  box-shadow: 0px 8px 25px #141A5F;
  color: #251864;
  text-decoration: none;
}

.work-main {
  background: linear-gradient(to right, #3023AE , #946DD7);
  padding: 75px;
}

.work-type {
  color: #FFFFFF;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin: 10px 0;
}

.resume {
  background-color: #ffffff;
  padding: 75px;
}

/*About CSS*/

.about {
  background-color: #F9F9F9;
  padding: 50px 30px 80px 0px;
}
/*Work CSS*/

.work {
  background-color: #FFFFFF;
  justify-content: space-between;
  padding: 24px 32px 0 32px;
}

.work-bottom {
  margin-bottom: 60px;
}

.work-item {
  justify-content: space-around;
  margin-top: 30px;
}

.work-type {
  color: #2C3849;
  font-family: 'Bree Serif', serif;
  text-align: center;
  text-decoration: none;
}

.work-title {
  color: #2F3D52;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin-bottom: 25px;
}

.work-description {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 16px;
  padding: 60px 300px;
  text-align: center;
}

.center-divider-work {
  border: 1px solid #D2D8E1;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 85px;
}

.work-type-section {
  text-align: center;
}

.work-type-block {
  border-radius: 5px;
  box-shadow: 0px 5px 15px #141A5F;
  display: inline-block;
  padding: 30px 20px;
  margin: 20px 30px;
  width: 320px;
}

.work-type-block:hover {
  border-radius: 5px;
  box-shadow: 0px 8px 25px #141A5F;
  padding: 30px 20px;
  margin: 20px 30px;
  width: 320px;
  cursor: pointer;
}

/*testimonial CSS*/

.testimonial {
  background-color: #FFFFFF;
  padding: 40px 0px;
}

.quote {
  color: #5E5E5E;
  font-size: 18px;
  font-family: Avenir;
  line-height: 30px;
  margin-bottom: 0px;
  padding: 100px 300px;
  text-align: center;
}

#quote-mark {
  width: 60px;
  margin-bottom: 32px;
}

.quote-name {
  color: #5E5E5E;
  font-size: 14px;
  font-family: Avenir;
  text-align: center;
}

/*Footer*/

.footer {
  background-color: #3B3838;
  padding: 15px;
}

#footer-img {
  display: inline-block;
  margin-left: 70px;
  width: 60px;
}

#footer-text {
  color: #D0CECE;
  display: inline-block;
  font-size: 12px;
  font-style: Avenir;
}

/*Carousel CSS*/

.carousel-pic {
  display: block;
  margin: auto;
  width: 75%;
}

.carousel-indicators li {
  background-color: rgba(210, 216, 225, 1);
  border-radius: 10px;
  height: 20px;
  margin: 0 5px;
  width: 20px;

}

.carousel-indicators .active {
  background-color: #47CE90;
  border-radius: 10px;
  height: 20px;
  margin: 0 5px;
  width: 20px;
}

/*images*/

.hero-graphic {
  display: block;
  margin-top: 5%;
}

.about-graphic {
  display: block;
  margin: auto;
  width: 75%;
}

#waving {
  display: block;
  margin: auto;
  margin-top: 55px;
  width: 50%;
}

.work-item {
  box-shadow: 0px 8px 19px #B7C2D2;
}

.work-item:hover {
  box-shadow: 0px 8px 25px #B7C2D2;
}

/* Applies to more than one section*/

.text-description {
  padding-left: 50px;
  padding-right: 50px;
}

.hyperlink {
  color: #7C60CB;
  font-weight: bold;
}

.hyperlink:hover {
  color: #261C62;
  font-weight: bold;
  text-decoration: none;
}

/*Resume*/

.resume-section{
  padding: 20px 70px 0px;
}

.resume-section-title {
  color: #251864;
  font-family: 'Bree Serif', serif;
  text-align: left;
  margin-bottom: 25px;
  padding: 0px 30px;
}

.resume-item-title {
  color: #47CE90;
  font-family: Avenir;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.resume-item-date {
  color: #47CE90;
  font-family: Avenir;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.resume-item-loc {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: left;
}

.resume-item-description {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-left: 18px;
  text-align: left;
}

.software-skills-languages {
  margin-bottom: 50px;
}

.software-skills-languages-title {
  color: #251864;
  font-family: 'Bree Serif', serif;
  text-align: left;
  margin-bottom: 25px;
}

.software-skills-languages-desc {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
}

/*Beginnning Media Queries*/

@media (max-width: 320px) {
  .margin-top{
    margin-top: 60px;
  }
  .hero {
    padding: 20px 30px;
  }
  .footer {
    padding: 0px;
  }
  .hero-graphic {
    display: block;
    margin-top: 50px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .navbar {
    padding-right: 0px;
  }
  #brand {
    display: inline-block;
    margin-left: 15px;
    width: 40px;
  }
  .hero {
    margin-top: 65px
    padding: 50px 30px;
  }
  #hero-title {
    color: #FFFFFF;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 0px;
  }
  .text-description {
    padding: 30px;
  }
  #footer-img {
    margin-left: 50px;
   }
 .resume-section {
    padding: 20px 30px;
   }
  #about-graphic {
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
  }
  .hero-graphic {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 100%;
  }
}

@media (max-width: 414px) {
  .navbar {
    padding-right: 0px;
  }
  #brand {
    display: inline-block;
    margin-left: 15px;
    width: 40px;
  }
  .hero {
    margin-top: 65px
    padding: 50px 20px;
  }
  #hero-title {
    color: #FFFFFF;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 0px;
  }
  .work-main {
    padding: 30px;
  }
  .quote {
    padding: 50px 50px;
  }
  .work-description {
    padding: 60px 50px;
}
  .connect-btn {
  background-color: #47CE90;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #141A5F;
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 5px;
  padding: 15px 70px;
  text-decoration: none;
}

.connect-btn:hover {
  box-shadow: 0px 8px 25px #141A5F;
  color: #FFF;
  text-decoration: none;
}

.connect-btn-2 {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #141A5F;
  color: #251864;
  font-size: 18px;
  margin-left: 5px;
  padding: 15px 81px;
  text-decoration: none;
}

.connect-btn-2:hover {
  box-shadow: 0px 8px 25px #141A5F;
  color: #251864;
  text-decoration: none;
}
  .about {
    padding: 30px;
  }
  .resume-section {
    padding: 20px 50px;
  }
  #about-graphic {
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
  }
  .hero-graphic {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .work-main {
    padding: 30px;
  }
  .quote {
    padding: 50px 50px;
  }
  .work-description {
    padding: 60px 150px;
  }
  #about-graphic {
    margin: auto;
    margin-bottom: 55px;
    width: 100%;
  }
  .hero-graphic {
    display: block;
    margin: auto;
    margin-top: 80px;
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .quote {
    padding: 60px 300px;
  }
  .work-description {
    padding: 60px 300px;
  }
  #about-graphic {
    margin: auto;
    margin-bottom: 0px;
    width: 85%;
  }
  .text-description-hero {
    padding: 50px;
  }
  .hero-graphic {
    display: block;
    margin: auto;
    margin-top: 150px;
    width: 50%;
  }
}
