.margin-top {
  margin-top: 40px;
}

/*Navbar*/

.navbar {
  background: #EFF2F5; 
  border: 0px; 
  height: 70px; 
  padding-right: 85px;
}

#brand {
  display: inline-block;
  margin-left: 85px;
  width: 40px;
}

.navbar-collapse {
  background-color: #EFF2F5;
  padding-top: 5px;
  margin: 0px;
  border: none;
}

.navbar-right {
  padding-top: 5px;
}

.navbar-toggle {
  margin: 0px;
  padding: 25px;
  border: none;
}

#nav-link {
  background-color: transparent;
  color: #6B7C93;
}

#nav-link-select {
  background-color: transparent;
  color: #737AB5;
}

.icon-bar {
  margin-top: 5px;
}

/*Hero CSS*/

.hero {
  background-color: #F6F8FA;
  background-repeat: no-repeat;
  padding: 80px 50px 80px;
}

.hero-non-homepage {
  background-color: #EFF2F5;
  background-repeat: no-repeat;
  padding: 80px 50px 80px;
}

#hero-description {
  color: #6B7C93;
  font-family: Avenir;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

#hero-title {
  color: #251864;
  font-family: 'Bree Serif', serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
  margin-top: 45px;
  text-align: center;
}

.hero-button-section{
  background-color: none;
  text-align: center;
}

.button-primary{
  background-color: #FBBE60;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  color: #ffffff;
  font-family: Avenir;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 30px 15px 0 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}

.button-secondary{
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  color: #98A5ED;
  font-family: Avenir;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 30px 0 0 15px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 500px) {
  .button-primary, .button-secondary {
    margin: 30px 0 0 0;
  }
}

/*Beginning of non-hero CSS*/

.left-aligned-description {
  color: #6B7C93;
  font-family: Avenir;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: left;
}

.left-aligned-title {
  color: #251864;
  font-family: 'Bree Serif', serif;
  text-align: left;
  margin-bottom: 25px;
}

.left-aligned-list-title {
  color: #47495A;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
}

.left-aligned-list {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 8px;
  text-align: left;
}

.list-item {
  font-size: 16px;
}

ul {
  list-style-image: url('../imgs/bullet.svg');
  padding: 0px;
}

p {
  color: #6B7C93;
}

.center-divider {
  border: 1px solid #D2D8E1;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 85px;
}

.center-aligned-description{
  color: #6B7C93;
  font-family: Avenir;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: left;
}

.work-main {
  background-color: #EFF2F5;
  padding: 75px 0;
}

/*About CSS*/

.about {
  background-color: #F6F8FA;
  padding: 10px 0px 80px 0px;
}

.companies-list{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  padding: 30px 50px;
}

/*Work CSS*/

.work {
  background-color: #F6F8FA;
  justify-content: space-between;
  padding: 24px 32px 0 32px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.card:hover {
  text-decoration: none;  
}

.card-shadow {
  margin-top: 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px 10px;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(5px - 1px);
  border-top-right-radius: calc(5px - 1px);
}

.card-title {
  color: #98A5ED;
  font-family: Avenir;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.75rem;
}

.card-body > .card-title {
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
}

.work-bottom {
  margin-bottom: 60px;
}

.work-type {
  color: #98A5ED;
  font-family: Avenir;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
}

.work-title {
  color: #251864;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin-bottom: 25px;
}

.work-description {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 16px;
  padding: 60px 300px;
  text-align: center;
}

.center-divider-work {
  border: 1px solid #D2D8E1;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 85px;
}

.work-type-section {
  text-align: center;
}

.work-type-block {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  display: inline-block;
  padding: 30px 20px;
  margin: 20px 30px;
  width: 300px;
}

/*testimonial CSS*/

.testimonial {
  background-color: #F6F8FA;
  padding: 40px 0px;
}

.quote {
  color: #6B7C93;
  font-size: 16px;
  font-family: Avenir;
  line-height: 28px;
  margin-bottom: 0px;
  padding: 100px 300px;
  text-align: center;
}

#quote-mark {
  width: 60px;
  margin-bottom: 32px;
}

.quote-name {
  color: #6B7C93;
  font-size: 14px;
  font-family: Avenir;
  text-align: center;
}

/*Footer*/

.footer {
  background-color: #262848;
  padding: 50px;
}

.footer-img {
  display: inline-block;
  margin: auto;
  width: 30px;
}

#footer-text {
  color: #D0CECE;
  display: inline-block;
  font-size: 12px;
  font-style: Avenir;
}

/*Carousel CSS*/

.carousel-pic {
  display: block;
  margin: auto;
  width: 75%;
}

.carousel-indicators li {
  background-color: #E3E7ED;
  border-radius: 10px;
  height: 20px;
  margin: 0 5px;
  width: 20px;

}

.carousel-indicators .active {
  background-color: #98A5ED;
  border-radius: 10px;
  height: 20px;
  margin: 0 5px;
  width: 20px;
}

/*images*/

.about-graphic {
  display: block;
  margin: auto;
  width: 100%;
}

/* Applies to more than one section*/

.text-description {
  padding: 0px 110px;
}

.hyperlink {
  color: #98A5ED;
  font-weight: bold;
}

.hyperlink:hover {
  color: #737BB3;
  font-weight: bold;
  text-decoration: none;
}

/*Resume*/

.resume-section{
  background-color: #FFFFFF;
  padding: 20px 70px 0px;
}

.resume-section-title {
  color: #251864;
  font-family: 'Bree Serif', serif;
  text-align: left;
  margin-bottom: 25px;
  padding: 0px 30px;
}

.resume-item-title {
  color: #737BB3;
  font-family: Avenir;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.resume-item-date {
  color: #737BB3;
  font-family: Avenir;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.resume-item-loc {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: left;
}

.resume-item-description {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 16px;
  font-weight: lighter;
  line-height: 28px;
  margin-bottom: 30px;
  margin-left: 18px;
  text-align: left;
}

.software-skills-languages {
  margin-bottom: 50px;
}

.software-skills-languages-title {
  color: #251864;
  font-family: 'Bree Serif', serif;
  text-align: left;
  margin-bottom: 25px;
}

.software-skills-languages-desc {
  color: #5E5E5E;
  font-family: Avenir;
  font-size: 16px;
  font-weight: lighter;
  line-height: 28px;
  text-align: left;
}

/*Beginnning Media Queries*/

@media (max-width: 988px) {
  .about-graphic {
    padding: 100px;
  }
  .quote {
    padding: 50px 50px;
  }
  .work-description {
    padding: 60px 50px;
  }
}